<!-- <app-navbar (modelSelect></app-navbar> -->

<!-- <app-navbar></app-navbar> -->
<!-- app.component.html -->

<app-navbar (selectionChanged)="onSelectionChanged($event)"></app-navbar>

<!-- Only show home when nothing is selected -->
<app-home *ngIf="showHome"></app-home>
<router-outlet ></router-outlet>


  <!-- Integrate the car explorer component -->
  <app-category-card 

    [visible]="showExplorer" 
    [category]="selectedCategory">
  </app-category-card>

  <app-used-car *ngIf="usedCarList.length" [usedCars]="usedCarList"></app-used-car>
 
