<!-- 
<app-navbar></app-navbar>
<div class="home" *ngIf="showHome">
  <app-search-form></app-search-form>

</div>
<router-outlet></router-outlet>

 -->
<!-- <app-navbar (modelSelected)="onModelSelected($event)"></app-navbar>


 <div class="home" *ngIf="showHome">
   <app-search-form></app-search-form>
 </div>
  -->


<!-- Home Content (Hidden when a Model or Category is Selected) -->
<div class="home">
  <app-search-form></app-search-form>
</div>

<!--   
  <router-outlet></router-outlet> -->
  