/* .container {
    display: flex;
    justify-content: space-between;
  }
   */

/* Home Component Background */
.home {
  background: url('/assets/toyoya-cameri-model.avif') no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 90vh; /* Full screen */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Ensure the search form is placed at the center */
.e-card.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; /* Adjust as needed */
  z-index: 2;
}

.slider {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

/* Car Image Styling */
.slider img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
